@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #0f172a;
    --foreground: #f8fafc;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  background-image: radial-gradient(circle at 50% -20%, #1e293b, #0f172a);
  font-family: var(--font-inter);
  overflow-x: hidden;
  min-height: 100vh;
}
